.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.background-wrapper {
  position: relative;
  padding: 32px 24px;
  z-index: 1;
}

.background-wrapper::before,
.background-wrapper::after {
  content: "";
  position: absolute;
  top: 0px;
  width: 200px;
  height: 700px;
  background-repeat: no-repeat;
  background-size: contain;
  opacity: 0.06;
  z-index: 0;
  pointer-events: none;
}

.background-wrapper::before {
  background-image: url("/public/logo_back1.png");
  left: 24px;
}

.background-wrapper::after {
  background-image: url("/public/logo_back2.png");
  right: 24px;
}

.bottom-decoration::before,
.bottom-decoration::after {
  content: "";
  position: absolute;
  top: 800px;
  width: 200px;
  height: 700px;
  background-repeat: no-repeat;
  background-size: contain;
  opacity: 0.06;
  z-index: 0;
  pointer-events: none;
}

.bottom-decoration::before {
  background-image: url("/public/logo_back2.png");
  left: 24px;
}

.bottom-decoration::after {
  background-image: url("/public/logo_back1.png");
  right: 24px;
}

@media (max-width: 1300px) {
  .background-wrapper::before,
  .background-wrapper::after,
  .bottom-decoration::before,
  .bottom-decoration::after {
    display: none;
  }
}
